/* CSS for the personal blog */

/* Header Styles */
header {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Carousel Styles */
.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color: #f1f1f1;
    display: none;
}

/* Content Styles */
.content {
    max-width: 800px;
    border-radius:20px;
    margin-bottom:20px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;

    background-image:linear-gradient(rgb(192, 236, 126),rgb(97, 243, 243));
    
}
.bg-container{
    background-color: rgb(92, 233, 174);
}

.blog-post {
    margin-bottom: 40px;
}


/* Footer Styles */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.image{
    background-size: cover;
}
.images{
    height:300px;
    width:600px;
    border-radius:20px;

}
.head{
    color:rgb(3, 1, 22);
    text-decoration: underline;
    margin:10px;
}